/* ------------------------------
 * BASE
 * --------------------------- */

html {

font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;
font-size: 62.5%;
line-height: $base-line-height;
}

body {
color: $gray-1;
background: $white;
margin: 0;
padding: 0;
}
