/*======================
  Header
========================= */
.global-nav {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}
.flex-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/************************
  Masthead
**************************/
.masthead {
  // margin: 0 0 ($pulse * 3);
  // padding: 0 0 ($pulse * 3);
  display: flex;
  align-items: center;
  &__info {
    max-width: 473px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    span {
      color: $soft-blue;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: bold;
     letter-spacing: 5.4px;
     font-family: $LeagueSpartan_font_family;
    }
    h1 {
      font-weight: bold;
    }
    p {
      margin-top: 0;
    }
  }
  &__img {
    margin-left: auto;
    box-shadow: 10px 2px 42px rgba(0,0,0,0.35);
    img {
        display: block;
        max-width: 100%;
    }
  }
}
.right-panel {
  text-align: right;
}
/* ============================
 Media Queries
=============================== */
@media only screen and (max-width: 750px) {
  .masthead {
    flex-direction: column;
  }
  .masthead__info {
    position: relative;
    max-width: 100%;
    margin: 25px 0 10px 0;
    margin-left: 0;
    
  }
  .masthead__img {
   box-shadow: none;
  }
}
@media only screen and (max-width: 1025px) {
  .masthead__info {
    padding: 1rem;
    margin-left: 1rem;
    background: rgba(255, 255, 255, 0.65);
  }
}
