/*-----------------------------
 * HELPERS
 *------------------------------*/

.content-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

.content-wrapper {
  max-width: 123em;
  margin: 0 auto;
  padding: 0 1em;
}
.hidden {
  display: none;
}
.bare-list {
 list-style-type: none;
 padding: 0;
}

.align-top {
  margin-top: 19rem;
}
.align-center {
  text-align: center;
}
.h-no-underline-text a,
%h-no-underline-text a {
  text-decoration: none;
}

.h-flex-wrapper {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0,0,0,0);
}

.clear-floats::after {
  content: "";
  clear: both; /* left | right */
  display: table;
}

.h-hide {
  display: none;
}
