.vertical-line {
  // margin-top: 3rem;
  // margin-bottom: 3.5rem;
  // border-width: 0;
  // border-top: 1px solid $soft-blue;
  width: 2px;
 height: 100px;
 // margin: 58px 36px 62px 43px;
 margin: 58px auto 0 auto;
 background-color: #5da8ef;
}
